body{
    background-color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.pagina{
    background-color: #85C1E9;
    box-shadow: 10px 10px 15px;
    border: solid 3px;
    border-radius: 8px;
    margin-left: 20%;
    margin-right: 20%;
    height: auto;
    width: auto;
    float: center;
    border-style: none;
}

.cabezera{
    width: 100%;
    color: whitesmoke;
    font-weight: bold;
    color: black;
}

header{
    background-image:url();
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.icono{
    border-radius: 5px;
    border: 5px;
    width: 200px;
}
.parrafo{
    width: auto;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #db6439;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }

  .button:hover {background-color: #db6439}

  .button:active {
    background-color: #db6439;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }