body{
    background-color: lightsteelblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.pagina {
    background: rgb(34,193,195);
    background: linear-gradient(37deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    border: solid;
    border-style: none;
    box-shadow: 8px 8px 12px;
    margin: 40px;
    height: auto;
    width: auto;
    float: left;
    border: solid;
    border-radius: 5px;
    font-size: 2em;
}

.cabezera{
    width: 100%;
    color: whitesmoke;
    font-weight: bold;
    color: black;
    text-align: center;
}

header{
    background-color: whitesmoke;
    background-size: cover;
}

.icono{
    border-radius: 5px;
    border: 5px;
    width: 120px;
}
.parrafo{
    width: auto;
}

.botones{
    display: flex ;
    justify-content: center;
    align-items: center;
    gap: 2%;
  
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: salmon;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }

  .button:hover {background-color: salmon}

  .button:active {
    background-color: salmon;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  main{
    height: auto;
    float: left;
    width: 100%;
  }

  .imagenes img{
    justify-content: center;
    pointer-events: none;
    object-fit: contain;
    width: 50%;
  }

  section{
    text-align: center;
  }
  